    .table1 tr:nth-child(even) {
    background-color: burlywood;
    }
    a{text-decoration: none; font-size: 20px;font-family: sans-serif;padding: 14px 10px}
    ul{padding: 14px}
    li{list-style: none; display: inline;}
    li a:hover{background: #4da4ff; color:#fff;}
    .navi{background: rgb(175, 216, 263); height: 50px}

    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
      }
    
    th{
      color:cadetblue(255, 255, 255);
      margin-left: 10px;
      margin-right: 10px;
      background-color: rgb(105, 91, 231);
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  td{
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: rgb(163, 217, 253);
  }
      .toggle-sidebar {
        border: none;
        background-color: #3097af;
        color: white;
        font-weight: bold;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
      }
      .sidebar {
        height: 100vh;
        width: 200px;
        list-style: none;
        background-color: #3097af;
      }
      .sidebar li a {
        display: block;
        padding: 25px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid silver;
        transition: background-color 0.5s;
      }
      .sidebar li a:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }